	<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
	  <li class="layui-nav-item layui-this">
		<a href="/agent/user/">
		  <i class="layui-icon">&#xe609;</i>
		  用户列表
		</a>
	  </li>
	  <li class="layui-nav-item">
		<a href="/agent/user/add">
		  <i class="layui-icon">&#xe612;</i>
		  新增用户
		</a>
	  </li> 
	  
	  <li class="layui-nav-item">
		<a href="/agent/user/setting">
		  <i class="layui-icon">&#xe612;</i>
		  管理设置
		</a>
	  </li> 
	</ul>

<div class="site-tree-mobile layui-hide">
  <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>

<div class="site-tree-mobile layui-hide">
  <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>