	<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="product">
	  <li class="layui-nav-item layui-this">
		<a href="/agent/product/">
		  <i class="layui-icon">&#xe609;</i>
		  产品列表
		</a>
	  </li>
	  <li class="layui-nav-item">
		<a href="/agent/product/add">
		  <i class="layui-icon">&#xe612;</i>
		  购买产品
		</a>
	  </li> 
	</ul>

<div class="site-tree-mobile layui-hide">
  <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>

<div class="site-tree-mobile layui-hide">
  <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>