	<div class="fly-footer">
	  <p>&copy;2018 <a href="http://zlkb.net/" target="_blank">zlkb.net 出品</a></p>
	</div>
	
<script src="/res/layui/layui.js"></script>

<script>
layui.config({
  version: "<?php echo VERSION;?>"
  ,base: '/res/mods/'
}).use('common');
layui.use('element', function(){
  var element = layui.element;
});
</script>
<script type="text/javascript">
function setClassName() {
    var menuChild = document.getElementById('webmenu').childNodes,
        aName = window.location.pathname,
        aMenu = [];
    for (var i = 0, j = menuChild.length; i < j; i++) {
        if (menuChild[i].nodeType != 3) {
            aMenu.push(menuChild[i]);
        }
    }
	<?php if($login):?>
    if (aName.indexOf('/member') == 0) {
        aMenu[0].className += ' layui-this';
    } else if (aName.indexOf('/product') > -1) {
        aMenu[1].className += ' layui-this';
    } else if (aName.indexOf('/help') > -1) {
        aMenu[2].className += ' layui-this';
    }
	<?php else:?>
    if (aName.indexOf('/product/query') == 0) {
        aMenu[1].className += ' layui-this';
    } else if (aName.indexOf('/product') > -1) {
        aMenu[0].className += ' layui-this';
    }
	<?php endif;?>
}
setClassName();
</script>
</body>
</html>