<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item">
        <a href="/member/"><i class="layui-icon">&#xe609;</i>我的产品</a>
    </li>
    <li class="layui-nav-item">
        <a href="/member/profiles"><i class="layui-icon">&#xe612;</i>WEB防火墙</a>
    </li>
    <li class="layui-nav-item">
        <a href="/member/logger"><i class="layui-icon">&#xe611;</i>DDOS防护</a>
    </li>
    <li class="layui-nav-item">
        <a href="/member/api"><i class="layui-icon">&#xe611;</i>服务器托管</a>
    </li>
    <li class="layui-nav-item">
        <a href="/member/api"><i class="layui-icon">&#xe611;</i>服务器租用</a>
    </li>
    <li class="layui-nav-item">
        <a href="/member/api"><i class="layui-icon">&#xe611;</i>软件服务</a>
    </li>
</ul>
<div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>
<div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>