	<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="product">
	  <li class="layui-nav-item">
		<a href="/product/">
		  <i class="layui-icon">&#xe609;</i>
		  产品中心
		</a>
	  </li>
	  <li class="layui-nav-item layui-this">
		<a href="/product/buy">
		  <i class="layui-icon">&#xe612;</i>
		  购买服务
		</a>
	  </li>
	  
	   <li class="layui-nav-item">
		<a href="/product/renew">
		  <i class="layui-icon">&#xe620;</i>
		  服务续费/升级
		</a>
	  </li> 
	</ul>
<div class="site-tree-mobile layui-hide">
  <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>

<div class="site-tree-mobile layui-hide">
  <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>