<?php include COMMON_PATH.'/header.html';?>
<div class="layui-container fly-marginTop">
    <div class="layui-card layui-form-pane">
		<div class="layui-card-header">查询订单</div>
        <div class="layui-card-body layui-tab layui-tab-brief" lay-filter="user">
            <blockquote class="layui-elem-quote">
                <ul class="layui-form">
                    <li class="layui-form-li" style="line-height: 26px;">
                        <div>
                            <p>友情提示:</p>
                            <p><span class="layui-badge layui-bg-gray">待付款</span>表示已下单，正在付款中</p>
                            <p><span class="layui-badge layui-bg-blue">待处理</span> 表示订单正在排队处理中</p>
                            <p><span class="layui-badge layui-bg-green">已完成</span> 表示订单已经完成</p>
                            <p><span class="layui-badge layui-bg-black">处理失败</span> 表示订单异常，请联系管理员处理</p>
                        </div>
                    </li>
                </ul>
            </blockquote>
            <div class="layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form-pane" id="query-pane">
                        <?php if($querymethod == 'ajax'):?>
                        <form class="layui-form" id="query-form">
							<?php if(isset($config['order_input_type']) AND $config['order_input_type'] == '2'):?>
                            <div class="layui-form-item">
                                <label for="qq" class="layui-form-label">QQ</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="qq" name="qq" required lay-verify="required|number" autocomplete="off" class="layui-input">
                                </div>
                            </div>
							<?php else:?>
                            <div class="layui-form-item">
                                <label for="L_email" class="layui-form-label">邮箱</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_email" name="email" required lay-verify="required|email" autocomplete="off" class="layui-input">
                                </div>
                            </div>
							<?php endif;?>
                            <div class="layui-form-item">
                                <label for="L_chapwd" class="layui-form-label">查询密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="L_chapwd" name="chapwd" required lay-verify="required" autocomplete="off" class="layui-input">
                                </div>
                            </div>
							<?php if(isset($config['yzm_switch']) AND $config['yzm_switch']>0):?>
                            <div class="layui-form-item" style="position: relative;">
                                <label for="L_vercode" class="layui-form-label">图形验证</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="L_vercode" name="vercode" required lay-verify="required|vercode" placeholder="" autocomplete="off" class="layui-input">
                                </div>
                                <div class="zlkb_yzm">
                                    <img src="/Captcha?t=productquery" alt="图片验证码" height="36" class="loadcode">
                                </div>
                            </div>
							<?php endif;?>
                            <div class="layui-form-item">
                                <button class="layui-btn" lay-filter="query" lay-submit>查询</button>
                            </div>
                        </form>
						<div class="layui-table-zlkb">
							<table class="layui-table" style="display: none;" id="query-table">
								<thead>
									<tr>
										<th>订单ID</th>
										<th>订单名称</th>
										<th>数量</th>
										<th>金额</th>
										<th>下单时间</th>
										<th>状态</th>
									</tr>
								</thead>
								<tbody>
									<tr></tr>
								</tbody>
							</table>
						</div>
						<div id="query-ajax-mobile-view"></div>
						<script id="query_ajax_mobile" type="text/html">
							<div class="layui-tab">
							  <ul class="layui-tab-title">
								 {{#  layui.each(d.data, function(index, item){ }}
									<li {{# if(index ==0){ }}class="layui-this"{{# } }}>订单{{ index+1 }}</li>
								 {{#  }); }}
							  </ul>
							  <div class="layui-tab-content">
								{{#  layui.each(d.data, function(index, item){ }}
								<div class="layui-tab-item {{# if(index ==0){ }}layui-show{{# } }}">
									<div class="layui-card layui-hide-lg layui-hide-md layui-hide-sm">
										<div class="layui-card-header">订单信息-{{ converStatus(item.status)}}</div>
										<div class="layui-card-body" id="prodcut_num">
												<div class="layui-form-item">
													<label class="layui-form-label">订单</label>
													<div class="layui-input-block">
														<input type="text" value="{{ item.orderid}}" readonly disabled class="layui-input">
													</div>
												</div>
												<div class="layui-form-item">
													<label class="layui-form-label">商品</label>
													<div class="layui-input-block">
														<input type="text" value="{{ item.productname}}" readonly disabled class="layui-input">
													</div>
												</div>
												<div class="layui-form-item">
													<label class="layui-form-label">数量</label>
													<div class="layui-input-block">
														<input type="text" value="{{ item.number}}" readonly disabled class="layui-input">
													</div>
												</div>
												<div class="layui-form-item">
													<label class="layui-form-label">金额</label>
													<div class="layui-input-block">
														<input type="text" value="{{ item.money}}" readonly disabled class="layui-input">
													</div>
												</div>
												<div class="layui-form-item">
													<label class="layui-form-label">时间</label>
													<div class="layui-input-block">
														<input type="text" value="{{ createTime(item.addtime)}}" readonly disabled class="layui-input" >
													</div>
												</div>
												{{#  if(item.status == '0'){ }}
												<div class="layui-form-item">
													<div class="layui-input-block">
														<a class="layui-btn" id="buy" href="/product/order/pay/?ooid={{item.id}}">去支付</a>  
													</div>
												</div>
												{{# }else if(item.status =="2"){ }}
												<div class="layui-form-item">
													<div class="layui-input-block">
														<button class="layui-btn view_kami" id="buy" data-orderid="{{ item.orderid}}">提取卡密</button>
													</div>
												</div>
												{{#  } }} 
										</div>
									</div>
								</div>
								 {{#  }); }}
							  </div>
							</div>
						  {{#  if(d.data.length === 0){ }}
							<blockquote class="layui-elem-quote">无数据....</blockquote>
						  {{#  } }} 
						</script>
                        <?php else:?>
						<div class="layui-table-querey layui-hide-xs">
                        <table class="layui-table" id="query-table">
                            <thead>
                                <tr>
                                    <th>订单ID</th>
                                    <th>订单名称</th>
                                    <th>数量</th>
                                    <th>金额</th>
                                    <th>下单时间</th>
                                    <th>状态</th>
									<th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php if(isset($order) AND !empty($order)):?>
                                <tr>
                                    <td><span id="orderid"><?php echo $order['orderid'];?></span></td>
                                    <td>
                                        <?php echo $order['productname'];?>
                                    </td>
                                    <td>
                                        <?php echo $order['number'];?>
                                    </td>
                                    <td>
                                        <?php echo $order['money'];?>
                                    </td>
                                    <td>
                                        <?php echo date('Y-m-d H:i:s',$order['addtime']);?>
                                    </td>
                                    <td>
                                        <?php echo $cnstatus[$order['status']];?>
                                    </td>
									<td>
										<?php if($order['status']=='0'):?>
										<a style="color:red" href="/product/order/pay/?oid=<?php echo base64_encode($order['id']);?>">去支付</a>
										<?php elseif($order['status']=='2'):?>
										<button class="view_kami layui-btn layui-btn-warm layui-btn-xs" data-orderid="<?php echo $order['orderid'];?>">提取卡密</button>
										<?php endif;?>
									</td>
                                </tr>
                                <?php else:?>
                                <tr>
                                    <td colspan="6" style="text-align:center">无数据</td>
                                </tr>
                                <?php endif;?>
                            </tbody>
                        </table>
						</div>
						
						<div class="layui-card layui-hide-lg layui-hide-md layui-hide-sm">
							<div class="layui-card-header">订单信息-<?php echo $cnstatus[$order['status']];?></div>
							<div class="layui-card-body" id="prodcut_num">
								
									<div class="layui-form-item">
										<label class="layui-form-label">订单</label>
										<div class="layui-input-block">
											<input type="text" value="<?php echo $order['orderid'];?>" readonly disabled class="layui-input">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">商品</label>
										<div class="layui-input-block">
											<input type="text" value="<?php echo $order['productname'];?>" readonly disabled class="layui-input">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">数量</label>
										<div class="layui-input-block">
											<input type="text" value="<?php echo $order['number'];?>" readonly disabled class="layui-input">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">金额</label>
										<div class="layui-input-block">
											<input type="text" value="<?php echo $order['money'];?>" readonly disabled class="layui-input">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">时间</label>
										<div class="layui-input-block">
											<input type="text" value="<?php echo date('Y-m-d H:i:s',$order['addtime']);?>" readonly disabled class="layui-input" >
										</div>
									</div>
									<?php if($order['status']=='0'):?>
									<div class="layui-form-item">
										<div class="layui-input-block">
											<a class="layui-btn" id="buy" href="/product/order/pay/?oid=<?php echo base64_encode($order['id']);?>">去支付</a>
										</div>
									</div>
									<?php elseif($order['status']=='2'):?>
									<div class="layui-form-item">
										<div class="layui-input-block">
											<button class="layui-btn view_kami" id="buy" data-orderid="<?php echo $order['orderid'];?>">提取卡密</button>
										</div>
									</div>
									<?php endif;?>
							</div>
						</div>
                        <?php endif;?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--引入公共底文件-->
<?php include COMMON_PATH.'/footer.html';?>
<script>
layui.use('productquery');
	function converStatus(status){
		var str = "";
		var s = status;
		switch(s)
		{
			case '0':
				str = '<span class="layui-badge layui-bg-gray">待付款</span>';
				break;
			case '1':
				str = '<span class="layui-badge layui-bg-blue">待处理</span>';
				break;
			case '2':
				str = '<span class="layui-badge layui-bg-green">已完成</span>';
				break;
			default:
				str = '<span class="layui-badge layui-bg-black">处理失败</span>';
				break;
		}
		return str;
	}
    function createTime(v) {
       var date = new Date();
       date.setTime(parseInt(v) * 1000);
		var y = date.getFullYear();
		var m = date.getMonth() + 1;
		m = m < 10 ? '0' + m : m;
		var d = date.getDate();
		d = d < 10 ? ("0" + d) : d;
		var h = date.getHours();
		h = h < 10 ? ("0" + h) : h;
		var M = date.getMinutes();
		M = M < 10 ? ("0" + M) : M;
		var s = date.getSeconds();
		s = s < 10 ? ("0" + s) : s;
		var str = y + "-" + m + "-" + d + " " + h + ":" + M + ":" + s;
		return str;
	}
</script>