<?php include COMMON_PATH.'/header.html';?>

<div class="layui-container fly-marginTop fly-user-main">
	<div style="padding: 20px; background-color: #F2F2F2;">
	  <div class="layui-row layui-col-space15">
		<div class="layui-col-md6">
		  <div class="layui-card">
			<div class="layui-card-header">购买商品</div>
			<div class="layui-card-body">
			  卡片式面板面板通常用于非白色背景色的主体内<br>
			  从而映衬出边框投影
			</div>
		  </div>
		</div>
		<div class="layui-col-md6">
		  <div class="layui-card">
			<div class="layui-card-header">商品详情</div>
			<div class="layui-card-body">
			  结合 layui 的栅格系统<br>
			  轻松实现响应式布局
			</div>
		  </div>
		</div>
	  </div>
	</div> 
</div>


<!--引入公共底文件-->
<?php include COMMON_PATH.'/footer.html';?>