<?php include COMMON_PATH.'/header_install.html';?>
	<div class="layui-container fly-marginTop fly-user-main">
		<div class="layui-row layui-col-space15">
			<div class="layui-card" style="color:#000000;">
			  <div class="layui-card-header">4.安装完成</div>
			  <div class="layui-card-body">
				<div class="layui-form-pane layui-tab-item layui-show">
					<blockquote class="layui-elem-quote layui-text">
						<p>恭喜您，已经完成项目安装；</p>
						<p>请登录<a href="/admin">管理后台</a>，进行基础配置。默认管理账户：43036456@qq.com,密码:123456</p>
						<p>如有疑问，请联系QQ:43036456</p>
					</blockquote>
					
					<blockquote class="layui-elem-quote layui-quote-nm">
						补充:最后需要在服务器上配置定时计划,用于定时发送邮件;
					</blockquote>
					<pre class="layui-code layui-box layui-code-view">*/2 * * * * php -q <?php echo APP_PATH;?>/public/cli.php request_uri="/crontab/sendemail/index"    #lnmp等linux环境用户,请复制此条.</pre>
					<pre class="layui-code layui-box layui-code-view">php -q <?php echo APP_PATH;?>/public/cli.php request_uri="/crontab/sendemail/index"    #宝塔环境用户,请复制此条.</pre>
				</div>
			  </div>
			</div>
		</div>
	</div>
<!--引入公共底文件-->
<?php include COMMON_PATH.'/footer.html';?>
<script>
    layui.use('install');
</script>