<?php include COMMON_PATH.'/header.html';?>
<div class="layui-container fly-marginTop">
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
			<blockquote class="layui-elem-quote">
                <ul class="layui-form">
                    <li class="layui-form-li" style="line-height: 26px;">
                         <div>
							<p>友情提示:</p>
							<p>当面付还在申请中....</p>
                         </div>
                            </li>
                 </ul>
			</blockquote>
            <div class="layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form-pane">
						<div class="layerPay" id="layerPay" style="margin-bottom: 0;text-align:center">
							<?php if($code>1):?>
								<p><?php echo $msg;?></p>
							<?php else:?>
								<?php if(!empty($payments)):?>
									<?php foreach($payments AS $payment):?>
										<button data-method="notice" class="layui-btn site-demo-active <?php if($payment['active']<1):?>layui-btn-disabled<?php endif;?>" data-type="<?php echo $payment['alias'];?>"><?php echo $payment['payment'];?></button>
									<?php endforeach;?>
								<?php else:?>
								<p>站长正在加紧配置，请耐心等待....</p>
								<?php endif;?>
							<?php endif;?>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--引入公共底文件-->
<?php include COMMON_PATH.'/footer.html';?>
<script>
layui.use('layer', function(){ //独立版的layer无需执行这一句
  var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
  
  //触发事件
  var active = {
	notice: function(){
      //示范一个公告层
      layer.open({
        type: 1
        ,title: false //不显示标题栏
        ,closeBtn: false
        ,area: '300px;'
        ,shade: 0.8
        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
        ,btn: ['火速围观', '残忍拒绝']
        ,btnAlign: 'c'
        ,moveType: 1 //拖拽模式，0或者1
        ,content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">你知道吗？亲！<br>layer ≠ layui<br><br>layer只是作为Layui的一个弹层模块，由于其用户基数较大，所以常常会有人以为layui是layerui<br><br>layer虽然已被 Layui 收编为内置的弹层模块，但仍然会作为一个独立组件全力维护、升级。<br><br>我们此后的征途是星辰大海 ^_^</div>'
        ,success: function(layero){
          var btn = layero.find('.layui-layer-btn');
          btn.find('.layui-layer-btn0').attr({
				href: 'http://www.layui.com/'
				,target: '_blank'
          });
        }
      });
    }
  };
  
  $('#layerPay .layui-btn').on('click', function(){
    var othis = $(this), method = othis.data('method');
    active[method] ? active[method].call(this, othis) : '';
  });
  
});
</script>