<?php include COMMON_PATH.'/header.html';?>
<div class="layui-container fly-marginTop">
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
			<blockquote class="layui-elem-quote">
                <ul class="layui-form">
                    <li class="layui-form-li" style="line-height: 26px;">
                         <div>
							<p>友情提示:</p>
							<p>当面付还在申请中....</p>
                         </div>
                            </li>
                 </ul>
			</blockquote>
            <div class="layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form-pane">
						<div class="" style="margin-bottom: 0;text-align:center">
						  <button class="layui-btn site-demo-active layui-btn-disabled" data-type="zfbf2f">支付宝当面付</button>
						  <button class="layui-btn site-demo-active layui-btn-disabled" data-type="weipay">微信支付</button>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--引入公共底文件-->
<?php include COMMON_PATH.'/footer.html';?>
<script>
    //layui.use('pay');
</script>