<?php include COMMON_PATH.'/header_install.html';?>
<div class="layui-container fly-marginTop fly-user-main">
    <div class="layui-row layui-col-space15">
			<div class="layui-card">
			  <div class="layui-card-header">1.服务条款</div>
			  <div class="layui-card-body">
				<div class="layui-form-item">
					<textarea placeholder="" class="layui-textarea">首先感谢您选择使用本系统,本系统不会收集任何信息,不预留漏洞后门;但由于互联网复杂性与系统软件更新太快,我不能保证本系统毫无漏洞,请自行做好安全措施并进行数据备份.</textarea>
				</div>
				<div class="layui-form-item" style="text-align: center;">
					<a class="layui-btn" lay-submit="" lay-filter="agree" href="/install/setpone">同意</a>
					<button class="layui-btn layui-btn-danger" lay-submit="" lay-filter="demo2" onClick="custom_close()">拒绝</button>
				</div>
			  </div>
			</div>
    </div>
</div>
<!--引入公共底文件-->
<?php include COMMON_PATH.'/footer.html';?>
<script language="javascript">
	function custom_close(){
		window.open("about:blank", "_self").close();
		//window.opener=null;
		//window.open('','_self');
		//window.close();
	}
</script>