	<div class="fly-footer">
	  <p>Powered by <a href="https://github.com/zlkbdotnet/zfaka/" target="_blank">ZFAKA <?php echo VERSION;?></a></p>
	</div>
<script src="/res/layui/layui.js"></script>
<script>
layui.config({
  version: "<?php echo VERSION;?>"
  ,base: '/templates/shadan/js/'
}).use('common');
layui.use('element', function(){
  var element = layui.element;
});
</script>
<!--统计代码-->
<?php if(isset($config['tongji']) AND strlen($config['tongji'])>0):?>
<?php echo $config['tongji'];?>
<?php endif;?>
<!-- 尝试添加广告-->
<script type="text/javascript">
    (function() {
        var s = "_" + Math.random().toString(36).slice(2);
        document.write('<div style="" id="' + s + '"></div>');
        (window.slotbydup = window.slotbydup || []).push({
            id: "u3977094",
            container:  s
        });
    })();
</script>
<!-- 多条广告如下脚本只需引入一次 -->
<script type="text/javascript" src="//cpro.baidustatic.com/cpro/ui/c.js" async="async" defer="defer" ></script>

</body>
</html>