<?php include COMMON_PATH.'/header.html';?>

<div class="layui-container fly-marginTop fly-user-main">
	<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
	  <li class="layui-nav-item">
		<a href="/product/">
		  <i class="layui-icon">&#xe609;</i>
		  产品中心
		</a>
	  </li>
	  <li class="layui-nav-item layui-this">
		<a href="/product/buy">
		  <i class="layui-icon">&#xe612;</i>
		  购买服务
		</a>
	  </li>
	  
	   <li class="layui-nav-item">
		<a href="/product/renew">
		  <i class="layui-icon">&#xe620;</i>
		  服务续费/升级
		</a>
	  </li> 
	</ul>

	<div class="site-tree-mobile layui-hide">
	  <i class="layui-icon">&#xe602;</i>
	</div>
	<div class="site-mobile-shade"></div>

	<div class="site-tree-mobile layui-hide">
	  <i class="layui-icon">&#xe602;</i>
	</div>
<div class="site-mobile-shade"></div>
  
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title" id="LAY_mine">
        <li class="layui-this" lay-id="info">产品中心</li>
      </ul>
      <div class="layui-tab-content" style="padding: 20px 0;">
 
          <div class="layui-form layui-form-pane layui-tab-item layui-show">
            <div class="layui-form-item">
					<p>敬请期待!</p>
            </div>
          </div>
          

        </div>

      </div>
    </div>
  </div>
</div>

<!--引入公共底文件-->
<?php include COMMON_PATH.'/footer.html';?>