<?php include COMMON_PATH.'/header_install.html';?>
	<div class="layui-container fly-marginTop fly-user-main">
		<div class="layui-row layui-col-space15">
			<div class="layui-card" style= "margin-bottom: 20px;">
			  <div class="layui-card-header">2.环境检测</div>
			  <div class="layui-card-body">
				<table class="layui-table">
				  <colgroup>
					<col width="150">
					<col width="200">
					<col>
				  </colgroup>
				  <thead>
					<tr>
					  <th width="40%">检测项</th>
					  <th width="30%">推荐</th>
					  <th width="30%">结果</th>
					</tr> 
				  </thead>
				  <tbody>
					<?php foreach($require AS $r):?>
					<tr>
					  <td><?php echo $r['name'];?></td>
					  <td><?php echo $r['require'];?></td>
					  <td><?php echo $r['result'];?></td>
					</tr>
					<?php endforeach;?>
				  </tbody>
				</table>
				<div class="layui-form-item" style="text-align: center;">
					<a class="layui-btn" id="setpone" lay-submit="" lay-filter="setpone" href="/install/setptwo">下一步</a>
				</div>
			  </div>
			</div>
		</div>
	</div>
<!--引入公共底文件-->
<?php include COMMON_PATH.'/footer.html';?>
<script>
    layui.use('install');
</script>