<?php include COMMON_PATH.'/header_install.html';?>
	<div class="layui-container fly-marginTop fly-user-main">
		<div class="layui-row layui-col-space15">
			<div class="layui-card">
			  <div class="layui-card-header">2.环境检测</div>
			  <div class="layui-card-body">
				<table class="layui-table">
				  <colgroup>
					<col width="150">
					<col width="200">
					<col>
				  </colgroup>
				  <thead>
					<tr>
					  <th>检测项</th>
					  <th>推荐</th>
					  <th>结果</th>
					</tr> 
				  </thead>
				  <tbody>
					<tr>
					  <td>PHP版本</td>
					  <td>7.0.x</td>
					  <td><?php echo phpversion(); ?></td>
					</tr>
					<tr>
					  <td>pdo支持</td>
					  <td>必须</td>
					  <td><?php echo phpversion(); ?></td>
					</tr>
				  </tbody>
				</table>
				<div class="layui-form-item" style="text-align: center;">
					<a class="layui-btn" lay-submit="" lay-filter="agree" href="/install/setptwo">下一步</a>
				</div>
			  </div>
			</div>
		</div>
	</div>
<!--引入公共底文件-->
<?php include COMMON_PATH.'/footer.html';?>
<script language="javascript">
	function custom_close(){
		window.opener=null;
		window.open('','_self');
		window.close();
	}
</script>