<?php include COMMON_PATH.'./header.html'; ?>
<?php include COMMON_PATH.'./top.html'; ?>
<?php include COMMON_PATH.'./menus.html'; ?>
<div class="container">
    <div class="tipspage tipspage_warp">
        <div class="tp_content tp1_content text-center">
            <div class="tipspage_tit tipspage_tit1">
			<?php if($code=='wrong'):?>
			<i class="icon icon_wrong"></i>
			<?php elseif($code=='warn'):?>
			<i class="icon icon_warn"></i>
			<?php else:?>
			<i class="icon_success"></i>
			<?php endif;?>
			<span><?php echo $msg;?></span></div>
            <div class="countdown gray text-center" id="countdown"><b>5</b>秒后自动返回</div>
            <div class="clearfix div-btn">
                <!--<a class="pull-left btn tips_btn tips_btnl" href="/borrow/list">投资</a>-->
                <a class="pull-left btn tips_btn tips_btnr" href="<?php echo $url;?>">确定</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function(){
        var countDiv = document.getElementById('countdown');
        var bText = countDiv.getElementsByTagName('b')[0];
        var aNumber = parseInt(bText.innerHTML);
        function countDown(){
            aNumber--;
            if (aNumber>0) {
                bText.innerHTML = aNumber;
                timer = setTimeout(countDown,1000);
            } else {
               //location.href=location.protocol + "//" + location.hostname + (window.location.port ? ':' + window.location.port: '') +'<?php echo $url;?>';
               location.href='<?php echo siteUrl(SITE_URL, $url);?>';
            }
        }
        var timer = setTimeout(countDown,1000);
    })();
</script>
<!--引入公共底文件-->
<?php include COMMON_PATH.'/footer.html';?>