<?php include COMMON_PATH.'/header.html';?>
<div class="layui-container fly-marginTop fly-user-main">
    <div class="layui-row">
		<!-- 公告-->
		<?php if(isset($config['notice']) AND $config['notice']):?>
		<blockquote class="layui-elem-quote layui-text" style="background-color: #ffffff;">
			<i class="layui-icon layui-icon-speaker"></i><?php echo $config['notice'];?>
		</blockquote>
		<?php endif;?>
        <div class="layui-card layui-form-pane">
			
            <div class="layui-card-header layui-hide-xs">商品列表</div>
			<div class="layui-tab-brief layui-hide-md"><ul class="layui-tab-title"><li class="layui-this">商品列表</li><li class=""><a href="/product/query">查询订单</a></li></ul></div>
			
            <div class="layui-card-body">
				<div class="layui-row" id ="product-list-two-view">

				</div>
			</div>
		</div>
    </div>
</div>


<script id="product_list_two_tpl" type="text/html">
{{#  if(d.data.length === 0){ }}
	<blockquote class="layui-elem-quote">无数据....</blockquote>
{{# }else{ }}

		{{# layui.each(d.data, function(index, item){ }}
					<div class="layui-col-md2 layui-col-sm4 goodsdetail">
						<div class="goodsdetail-container">
							<a href="javascript:;">
								{{#  if(item.imgurl.length === 0){ }}
								<img src="/res/images/noimg.jpg"> 
								{{# }else{ }}
								<img src="{{ item.imgurl}}"> 
								{{#  } }} 
							</a>
							<a href="javascript:;">
							  <div class="goodsdetail-text">
								<p class="info">{{ item.name}}</p>
								<div class="price">
									<b>￥{{ item.price}}</b>
									<span class="flow">
										<a class="layui-btn layui-btn-sm" href="/product/{{item.id}}.html">购买</a>
									</span>
								</div>
							  </div>
							</a>
						</div>
					</div>
		{{#  }); }}
		
{{#  } }} 
</script>
<div id="layerad" style="display: none;"><?php echo $config['layerad'];?></div>
<!--引入公共底文件-->
<?php include COMMON_PATH.'/footer.html';?>
<script>
layui.use('product-list-two');
</script>