<?php include COMMON_PATH.'/header.html';?>
<div class="layui-container fly-marginTop fly-user-main">
    <div class="layui-row">
		<!-- 公告-->
		<?php if(isset($config['notice']) AND $config['notice']):?>
		<blockquote class="layui-elem-quote layui-text" style="background-color: #ffffff;">
			<i class="layui-icon layui-icon-speaker"></i><?php echo $config['notice'];?>
		</blockquote>
		<?php endif;?>
        <div class="layui-card layui-form-pane">
            <div class="layui-card-header layui-hide-xs">商品列表</div>
			<div class="layui-tab-brief layui-hide-md"><ul class="layui-tab-title"><li class="layui-this">商品列表</li><li class=""><a href="/product/query">查询订单</a></li></ul></div>
            <div class="layui-card-body">
				<div class="layui-row layui-col-space30" id ="product-list-two-view"></div>
				<div id="more" class="layui-row"></div>
			</div>
		</div>
    </div>
</div>

<script id="product_list_two_tpl" type="text/html">
{{#  if(d.data.length === 0){ }}
{{# }else{ }}
	{{# layui.each(d.data, function(index, item){ }}
		<div class="layui-col-md3 layui-col-sm4 goodsdetail">
			<div class="goodsdetail-container">
				<div class="goodsdetail-img">
					<a href="/product/{{item.id}}.html">
						{{#  if(item.imgurl.length === 0){ }}
							<img src="/res/images/noimg.jpg"> 
							{{# }else{ }}
							<img src="{{ item.imgurl}}"> 
						{{#  } }} 
					</a>
				</div>
				<div class="goodsdetail-text">
					<p class="info">{{ item.name}}</p>
					<div class="price">
						<b>￥{{ item.price}}</b>
						<span class="flow" style ="float:right">
							{{#  if(item.stockcontrol=="1" && item.qty=="0"){ }}
							<a class="layui-btn layui-btn-xs layui-btn-disabled" href="javascript:;">购买</a>
							{{# }else{ }}
							<a class="layui-btn layui-btn-xs" href="/product/{{item.id}}.html">购买</a>
							{{#  } }} 
						</span>
					</div>
				</div>
			</div>
		</div>
	{{#  }); }}
{{#  } }} 
</script>
<script id="product_list_two_mobile_tpl" type="text/html">
{{#  if(d.data.length === 0){ }}
{{# }else{ }}
	{{# layui.each(d.data, function(index, item){ }}
		<div class="layui-col-md3 layui-col-sm4 goodsdetail">
			<div class="goodsdetail-mobile">
                <div class="goodsdetail-mobile-img">
					<a href="/product/{{item.id}}.html">
					{{#  if(item.imgurl.length === 0){ }}
						<img src="/res/images/noimg.jpg"> 
					{{# }else{ }}
						<img src="{{ item.imgurl}}"> 
					{{#  } }} 
					</a>
                </div>
                <div class="goodsdetail-mobile-text">
                    <p class="info">{{ item.name}}</p>
                    <p class="price"><b>￥{{ item.price}}</b></p>
                </div>
				{{#  if(item.stockcontrol=="1" && item.qty=="0"){ }}
				<div class="goodsdetail-mobile-btn"><a class="layui-btn layui-btn-xs layui-btn-disabled" href="javascript:;">购买</a></div>
				{{# }else{ }}
				<div class="goodsdetail-mobile-btn"><a class="layui-btn layui-btn-xs" href="/product/{{item.id}}.html">购买</a></div>
				{{#  } }} 
            </div>
		</div>
	{{#  }); }}
{{#  } }} 
</script>
<div id="layerad" style="display: none;"><?php echo $config['layerad'];?></div>
<!--引入公共底文件-->
<?php include COMMON_PATH.'/footer.html';?>
<script>
layui.use('product-list-two');
</script>