<?php include ADMIN_COMMON_PATH.'/header.html';?>
<div class="layui-container fly-marginTop fly-user-main">
    <?php include ADMIN_COMMON_PATH.'/products-nav.html';?>
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="email">
            <ul class="layui-tab-title" id="LAY_mine">
                <li lay-id="info"><a href="/<?php echo ADMIN_DIR;?>/products/">商品管理</a></li>
                <li class="layui-this" lay-id="info">批发</a></li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-form-pane layui-tab-item layui-show">
                    <blockquote class="layui-elem-quote">
                        <p> 注意事项： </p>
                        <p> 批发价格设置中心</p>
                    </blockquote>
					
					  <table class="layui-table">
						<colgroup>
						  <col width="50%">
						  <col width="50%">
						</colgroup>
						<thead>
						  <tr>
							<th>商品名称</th>
							<th>单价</th>
						  </tr> 
						</thead>
						<tbody>
						  <tr>
							<td><?php echo $product['name'];?></td>
							<td><?php echo $product['price'];?></td>
						  </tr>
						</tbody>
					  </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--引入公共底文件-->
<?php include ADMIN_COMMON_PATH.'/footer.html';?>
<script>
layui.use('adminproducts');
</script>