<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
  <li class="layui-nav-item">
    <a href="/admin/products">
      <i class="layui-icon">&#xe609;</i>
      产品列表
    </a>
  </li>
    <li class="layui-nav-item">
    <a href="/admin/productscard">
      <i class="layui-icon">&#xe609;</i>
      卡密管理
    </a>
  </li>
  <li class="layui-nav-item layui-this">
    <a href="/admin/productstype">
      <i class="layui-icon">&#xe609;</i>
      产品分类
    </a>
  </li>
</ul>

<div class="site-tree-mobile layui-hide">
  <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>

<div class="site-tree-mobile layui-hide">
  <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>